.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Ensures all text is centered */
}


.logo {
  /* Make the placeholder image responsive and centered */
  display: block;
  max-width: 40%;
  margin: 0 auto;
}
